@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

h1{
    text-align: center;
    color:hsla(263, 30%, 60%, 1);
    font-weight: 900;
    font-family: "inter";
    font-size: 75px;
}
header{
    width: 100%;
    background-color:rgb(0, 0, 0);
    height: 200 px;
    display: flex;
    align-items: center;
    justify-content: center;
}
h2{
    text-align: center;
    color:black;
    font-weight: 700;
    font-family: "inter";
    font-size: 20px;
}
h3{
    color:rgb(141, 83, 234);
    font-weight: 800;
    font-family: "inter";
    font-size: 25px;
}
h4{
    color:rgb(141, 83, 234);
    font-weight: 800;
    font-family: "inter";
    font-size: 25px;
}
p{
    color:rgb(0, 0, 0);
    font-weight: 200;
    font-family: "inter";
    font-size: 20px;
}
a:link{
    color:pink
}
a:visited, #vinculo:visited{
    color:grey
}
a:active{
    background-color: black;
}
a:hover{
    text-decoration: underline;
}
img{
    width: 20%;
    margin: auto;
    display: block;
    border-radius: 50%;
}